In this assignment, we are interested in exploring the effects of the exposome on pediatric
asthma. Towards that we will assess and wrangle the provide data by answering the following
questions. You will use the codebook, covariates, exposome and phenotype files. Submit your
responses in a PDF file including your code and results. You can use Python or R. Do ask for
help and if you have any questions.

1. Using the covariates dataset, group the data by sex "e3_sex_None". Which gender has the highest weight "hs_c_weight_None '' and what is its corresponding mean value? (20 Points)
    1. Males have the highest weight with a max of 71.1 and a mean of 29.0.

In [45]:
import pandas as pd

df_covariates = pd.read_csv('covariates.csv')
df_covariates.head()

,ID,h_cohort,e3_sex_None,e3_yearbir_None,h_mbmi_None,hs_wgtgain_None,e3_gac_None,h_age_None,h_edumc_None,h_native_None,h_parity_None,hs_child_age_None,hs_c_height_None,hs_c_weight_None
0,1,4,male,2008,25.510204,17.0,41.000000,28.000000,2,2,0,6.165640,1.220,23.4
1,2,4,male,2007,26.491508,18.0,41.000000,22.841553,3,2,1,6.992471,1.220,27.6
2,3,4,male,2008,30.116213,11.0,39.000000,34.232422,3,2,1,6.110883,1.280,37.5
3,4,2,female,2005,21.048048,21.0,39.285713,32.725529,1,2,1,10.138261,1.345,27.7
4,5,3,male,2005,22.151022,20.0,43.000000,20.865160,1,2,0,9.451175,1.370,34.0

In [46]:
# group data based off sex
grouped = df_covariates.groupby('e3_sex_None')

# get max weight for males and females
weight_max = grouped['hs_c_weight_None'].max()
display(weight_max)

# get mean weight for males and females
weight_mean = grouped['hs_c_weight_None'].mean()
display(weight_mean)

e3_sex_None
female    69.9
male      71.1
Name: hs_c_weight_None, dtype: float64

e3_sex_None
female    27.936513
male      29.026696
Name: hs_c_weight_None, dtype: float64

2. Create a dataframe called “phenotype” using the phenotype dataset and answer the following questions:

    1. Count the number of missing values per column in the above dataframe.(20 Points)
        1. There are no missing values in the phenotype dataset.

    2. Extract and Print all individuals (IDs) from the dataframe what have a Body mass index categories at 6-11 years old - WHO reference of Overweight or Obese. Refer the Codebook file to find the field and values. (20 Points)

    3. Identify any records (IDs) that are duplicative in the records you extracted in Step b. (20 Points)

In [60]:
df_phenotype = pd.read_csv('phenotype.csv')
df_phenotype.head()

,ID,e3_bw,hs_asthma,hs_zbmi_who,hs_correct_raven,hs_Gen_Tot,hs_bmi_c_cat
0,1,4100,0,0.30,18,84.0,2
1,2,4158,0,0.41,25,39.0,2
2,3,4110,1,3.33,13,40.0,4
3,4,3270,0,-0.76,28,54.5,2
4,5,3950,0,0.98,19,18.0,2

In [61]:
# sum null values for each column
nan_count = df_phenotype.isnull().sum()
print(nan_count)

ID                  0
e3_bw               0
hs_asthma           0
hs_zbmi_who         0
hs_correct_raven    0
hs_Gen_Tot          0
hs_bmi_c_cat        0
dtype: int64

In [75]:
df_codebook = pd.read_csv('codebook.csv')

# get variable names for phenotype data
p_columns = df_phenotype.columns.tolist()
p_columns.remove('ID')

# extract relavent variables from codebook
codes = df_codebook[df_codebook['variable_name'].isin(p_columns)]
display(codes)

,Unnamed: 0,variable_name,domain,family,subfamily,period,location,period_postnatal,description,var_type,transformation,labels,labelsshort
235,e3_bw,e3_bw,Phenotype,Phenotype,Outcome at birth,Pregnancy,NaN,NaN,Child weight at birth (g),numeric,NaN,Birthweight,BW
236,hs_asthma,hs_asthma,Phenotype,Phenotype,Outcome at 6-11 years old,Postnatal,NaN,NaN,Doctor diagnosed asthma (ever),factor,NaN,Asthma,Asthma
237,hs_zbmi_who,hs_zbmi_who,Phenotype,Phenotype,Outcome at 6-11 years old,Postnatal,NaN,NaN,Body mass index z-score at 6-11 years old - WH...,numeric,NaN,Body mass index z-score,zBMI
238,hs_correct_raven,hs_correct_raven,Phenotype,Phenotype,Outcome at 6-11 years old,Postnatal,NaN,NaN,Intelligence quotient at 6-11 years old - Tota...,numeric,NaN,Intelligence quotient,IQ
239,hs_Gen_Tot,hs_Gen_Tot,Phenotype,Phenotype,Outcome at 6-11 years old,Postnatal,NaN,NaN,Neuro behavior - Internalizing and externalizi...,numeric,NaN,Behavior,Behavior
240,hs_bmi_c_cat,hs_bmi_c_cat,Phenotype,Phenotype,Outcome at 6-11 years old,Postnatal,NaN,NaN,Body mass index categories at 6-11 years old -...,factor,NaN,Body mass index (cat),BMI_cat